*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
app/build
app/captures
app/local.properties
app/bin/*
app/buildtmp/*
app/dist/*
app/gen/*
app/assets/testing*
**/bin/**
.idea
gradle/
**/*~
**/*.swp
